.container {
  display: flex;
  flex-direction: column;
  padding: 5.5rem 6.5rem;
  gap: 2rem;
}

.head {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.img__container {
  width: 29.7rem;
  height: 31.4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
  padding: 2.5rem;
  position: relative;
  display: flex;
  justify-content: center;
}
.img__container > img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem 1rem;
  width: 70%;
}

.title__cat {
  width: 35rem;
}

.title__cat > h1 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.title__cat > p {
  text-transform: capitalize;
  font-size: 1.4rem;
}

.rate__price {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.rate {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.count {
  color: #df1f1f;
  font-size: 1.2rem;
}

.icon {
  font-size: 2.8rem;
  color: #efe72b;
}

.price {
  padding: 1rem 5rem;
  width: 18rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  background-color: #efe72b;
  border: none;
  font-weight: 700;
  position: relative;
  cursor: pointer;
}



.price:hover::after{
  content: 'Add to Cart';
  color:white;
  background-color: #000000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
}

.description {
  margin: 2.5rem 0 0;
  width: 80%;
}

.description > p {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.add_to_cart{
  padding: 1rem 5rem;
  font-size: 2rem;
  background-color: #1b1b1b;
  border: none;
  font-weight: 700;
  position: absolute;
  color: white;
  top: 75%;
  cursor: pointer;
  display: none;
}

.img__container:hover img{
  opacity: .2;
}

.img__container:hover .add_to_cart{
  display: block;
}